* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  background-color: hsl(210, 60%, 98%);
  font-family: Plus Jakarta Sans, sans-serif;
}

h1 {
  display: inline;
}

p {
}

.notification-box {
  background-color: hsl(0, 0%, 100%);
  width: 75%;
  margin: 10% 25%;
}
.notification-number {
  display: inline;
  background-color: hsl(219, 85%, 26%);
  color: hsl(0, 0%, 100%);
  padding: 5px;
}

.mark-read {
  display: inline;
  font-family: Plus Jakarta Sans, sans-serif;
}

.name {
}

.notification-type {
}
.post {
}

.time {
}

.group {
}

.message {
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
